# Konfigurasi Database
DATABASE_URL=postgresql+pg8000://postgres:sandipostgres@localhost:5432/management_artikel

# Konfigurasi Keamanan
SECRET_KEY=sandirahasiaartikel_dev_key_change_in_prod

# Konfigurasi Email (SMTP Gmail)
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=true
MAIL_USE_SSL=false
MAIL_USERNAME=email_anda@gmail.com
MAIL_PASSWORD=app_password_gmail_anda
MAIL_DEFAULT_SENDER=email_anda@gmail.com
MAIL_DEBUG=true

# Konfigurasi Frontend
FRONTEND_URL=http://localhost:3000